body {
    background-color:#f2f2f2;
    margin: 36px auto;
    width: 720px;
	font-family:Century Gothic;
}
header {
	padding: 10px;
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 2px;
    border-color:DarkTurquoise;	
}
nav{
    float:left;
    width: 150px;
	height:200px;
	border-style: solid;
    border-width: 3px;
    border-color:DarkBlue;
    border-radius: 10px 10px 10px 10px;	
}
nav ul {
         list-style-type:none;
         margin: 0px;
         padding: 0px;        
}
nav ul li {
    margin: 5px; padding: 10px; text-transform:capitalize; font-size: 20px;
}
nav ul li {
    margin: 5px; padding: 10px; text-transform:capitalize; font-size: 20px;
    border-radius: 152px 304px 228px 152px;
    border-style: solid;
    border-width: 3px;
    border-color:#ffffff
}
nav ul li a {
    color:#e34c26;
    text-decoration: none;
}
section{
    float:left;
    width:450px;
	padding:5px;
	border-style: solid;
    border-width: 2px;
    border-color:DarkRed;
	border-radius: 10px 10px 10px 10px;
}
article{
    margin-bottom:5px; 
	padding: 10px;
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 2px;
    border-color:DarkOrange;
}
aside {
	float:right;
	width:95px;
	height:200px;
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 2px;
    border-color:DarkMagenta;		
}
footer{
	float:left;
	padding: 10px;
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 2px;
    border-color:DarkGreen;	
}

